@font-face {
  font-family: 'Roboto';
  src: url(/assets/Roboto.eot);
  src: url(/assets/Roboto.eot?#iefix) format('embedded-opentype'),
       url(/assets/Roboto.otf) format('otf'),
       url(/assets//Roboto.woff2) format('woff2');
}

@font-face {
  font-family: 'RedHatDisplay-Regular';
  src: url(/assets//RedHatDisplay-Regular.eot);
  src: url(/assets//RedHatDisplay-Regular.eot?#iefix) format('embedded-opentype'),
       url(/assets//RedHatDisplay-Regular.otf) format('otf'),
       url(/assets//RedHatDisplay-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'RedHatDisplay-Bold';
  src: url(/assets//RedHatDisplay-Regular.ttf);
}

button, input[type="submit"], input[type="reset"] {
background: none;
color: inherit;
border: none;
padding: 0;
font: inherit;
cursor: pointer;
outline: inherit;
  all: unset;
}

*:focus {
  outline: 0 !important;
}

.input[type="submit"]:focus {
  border: none;
  outline: none;
}

.input[type="submit"]:active {
  border: none;
  outline: none;
}

a:hover {
  text-decoration:none;
}

body {
  font-family:"Roboto";
  height: 100%;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  display: flex;
  width: 70%;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}

.header-navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
}

.header-logo {
  background-image: url(/assets/logohalfwhitebackground1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 56px;
  width: 40px;
}

.header-nav-item {
  margin-left: 15px;
  height: 70px;
  width: 70px;
  font-size: 16px;
  line-height: 70px;
}

.header-nav-item a {
  color: #644C84;
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
}

.header-nav-item a:hover {
  color: #6493ee;
}


.header-nav-item:hover {
  color: #6493ee;
  border-bottom: 2px solid #6493ee;
}

.header-logo-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
}

.header-text {
  font-family: "RedHatDisplay-Bold";
  font-size: 20px;
  font-weight: bold;
  color: #644C84;
  margin-top: 5px;
  position: absolute;
  top: 0; right: 0;
  bottom: 0; left: 0;
  line-height: 70px;
  padding-left: 50px;
}

.header-text:hover {
  color:#6493ee;
}

.banner {
  width: 100%;
  background-image: url(/assets/banner.png);
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
}

.landing-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  justify-content: center;
  padding-top: 80px;
}

.hero-container {
  display: flex;
  flex-direction: row;
  padding-top: 150px;
  padding-left: 100px;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  background-image: url(/assets/background2.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 1080px;
}

.hero-logo {
  background-image: url(/assets/logosmallwhitebackground.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 420px;
  width: 40%;
  margin-left: 65px;
}

.landing-title {
  font-family: "RedHatDisplay-Bold";
  font-size: 64px;
  width: 60%;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
}

.landing-text {
  font-family: "Roboto";
  font-size: 20px;
  color: white;
  width: 70%;
  text-align: left;
  line-height: 32px;
  padding-left: 50px;
}

.login-register-container {
  padding-top: 50px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  width: 58%;
  justify-content: flex-start;
  align-items: center;
}

.landing-login-button {
  width: 250px;
  border: 1px solid #644C84;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  margin-right: 60px;
}

.landing-login-button:hover {
  box-shadow: 3px 3px 15px -1px gray;
  background-color:#6493ee;
  border: 1px solid #6493ee;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out; /* Firefox 4 */
  -webkit-transition: all .2s ease-in-out; /* Safari and Chrome */
  -ms-transition: all .2s ease-in-out; /* IE 9 */
}

.landing-login-button a {
  color:#644C84;
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
}

.landing-login-button a:hover {
  color:white;
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out; /* Firefox 4 */
  -webkit-transition: all .2s ease-in-out; /* Safari and Chrome */
  -ms-transition: all .2s ease-in-out; /* IE 9 */
}

.landing-register-button {
  background-color:#6493ee;
  width: 250px;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
}

.landing-register-button:hover {
  background-color:#5a83d6;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out; /* Firefox 4 */
  -webkit-transition: all .2s ease-in-out; /* Safari and Chrome */
  -ms-transition: all .2s ease-in-out; /* IE 9 */
}

.landing-register-button a {
  color:white;
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
}

.landing-register-button a:hover {
  color:white;
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out; /* Firefox 4 */
  -webkit-transition: all .2s ease-in-out; /* Safari and Chrome */
  -ms-transition: all .2s ease-in-out; /* IE 9 */
}

.teacher-question-text {
  color: #a2c0fc;
  font-size: 16px;
  line-height: 16px;
}

.teacher-question-text:hover {
  text-decoration: underline;
  color: #a2c0fc;
}


.teacher-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 58%;
  justify-content: center;
  padding-top: 25px;
}

.login-container {
  margin: 0 auto;
  margin-top: 200px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.register-container {
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.main-login-container {
  background: white;
  border: 1px solid rgba(64, 64, 70, 0.6);
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 3px 3px 15px -1px gray;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 35px 50px 35px 50px;
  justify-content: left;
  align-items: left;
  background-color:#404046;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  margin-block-end: 0;
}

.form-label {
  margin-top: 25px;
  color:rgb(227, 227, 233);
  font-size: 16px;
  width: 100%;
  text-align: left;
  margin-bottom: 5px;
}

.form-input {
  width: 100%;
  border: 1px solid rgb(34, 34, 34);
  font-size: 14px;
  height: 40px;
  background-color:#35353a;
  border-radius: 2px;
  color: white;
}

.form-input:focus {
  border: 1px solid #6493ee;
}

.login-form-submit-button {
  width: 100%;
  background-color:#6493ee;
  color:white;
  height: 45px;
  line-height: 45px;
  font-size: 16px;
  text-align: center;
  border: 0;
  margin-top: 20px;
}

.login-form-submit-button:hover {
  background-color:#5a83d4;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out; /* Firefox 4 */
  -webkit-transition: all .2s ease-in-out; /* Safari and Chrome */
  -ms-transition: all .2s ease-in-out; /* IE 9 */
}

.login-form-text {
  color: #6493ee;
  align-self: left;
  font-size: 12px;
  text-align: left;
  padding-top: 5px;
}

.login-form-text:hover {
  color: #5a83d4;
}

.login-title {
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.google-facebook-container{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 350px;
  height: 421px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.google-facebook {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.google-facebook-button {
  height: 64px;
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid rgba(145, 145, 145, 0.4);
  position: relative;
  margin-bottom: 20px;
  background-color: white;
  
}

.google-facebook-button:hover {
  border: 1px solid #6493ee;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out; /* Firefox 4 */
  -webkit-transition: all .2s ease-in-out; /* Safari and Chrome */
  -ms-transition: all .2s ease-in-out; /* IE 9 */
}

.google-button-image {
  display: inline-block;
  height: 49px;
  width: 48px;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  width: 64px;
  cursor: pointer;
}


.facebook-button-image {
  display: inline-block;
  background-image: url(/assets/facebooklogo.jpg);
  background-size: contain;
  height: 48px;
  width: 48px;
}

.google-facebook-link {
  position: absolute;
  top: 0; right: 0;
  bottom: 0; left: 0;
  display: block;
  height: 100%;
  width: 100%;
  color: #6493ee;
  text-align: left;
  font-size: 16px;
  padding-left: 100px;
  line-height: 64px;
  font-weight: bold;
}

.header-center-nav {
  display: flex;
  flex-direction: row;
}

.profile-dropdown-cont {
  display: none;
  position: absolute;
  width: 150px;
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 1;
  box-shadow:
0 0.3px 0.6px rgba(0, 0, 0, 0.02),
0 0.8px 1.3px rgba(0, 0, 0, 0.028),
0 1.5px 2.5px rgba(0, 0, 0, 0.035),
0 2.7px 4.5px rgba(0, 0, 0, 0.042),
0 5px 8.4px rgba(0, 0, 0, 0.05),
0 12px 20px rgba(0, 0, 0, 0.07)
;
}


.profile-dropdown-cont a {
  font-size: 14px;
  line-height: 40px;
  height: 40px;
  width: 100%;
  color:#644C84;
  font-weight: normal;
  padding-left: 15px;
}

.profile-dropdown-cont a:hover {
  background-color: rgb(241, 241, 241);
}

.profile-dropdown {
  height: 32px;
  width: 220px;
  font-size: 16px;
  line-height: 32px;
  color: #644C84;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  flex-direction: row;
}

.profiledown-icon {
  margin-left: 10px;
  color: #644C84;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.sidenav {
  height: 100VH;
  display: flex;
  flex-direction: column;
  width: 250px;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(245, 245, 255);
  border-right: 1px solid rgba(145, 145, 145, 0.4);
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.profile-picture {
  height: 32px;
  width: 32px;
  background-image: url(/assets/profilepicture.jpg);
  background-size: contain;
  border-radius: 30px;
  margin-right: 15px;
}

.sidenav-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 220px;
  margin-top: 25px;
  border-bottom: 1px solid rgba(100, 76, 132, 0.6);
}

.sidenav-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 220px;
  margin-top: 25px;
  border-bottom: 1px solid rgba(100, 76, 132, 0.6);
}

.sidenav-list-inner {
  width: 220px;
  padding-left: 0;
  margin-bottom: 30px;
}

.no-bullets {
  list-style-type: none;
}

.sidenav-li-item {
  width: 100%;
  height: 35px;
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sidenav-li-item:hover {
  background-color: #eaeaf5;
  cursor: pointer;
}

.sidenav-li-item-highlighted {
  background-color: #e2e2f0;
}

.sidenav-li-item a{
  display: block;
  width: 100%;
  height: 100%;
  color:#644C84;
  line-height: 35px;
  font-size: 16px;
  
}

.sidenav-list-icon {
  margin-right: 10px;
  height: 20px;
  width: 20px;
  text-align: center;
}

.sidenav-interests{
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 220px;
}

.sidenav-interest-title{
  width: 100%;
  text-align: left;
  height: 40px;
  font-size: 16px;
  line-height: 40px;
  padding-left: 10px;
  color:#644C84;
  margin-bottom: 0;
}

.sidenav-interests-inner {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 200px;
  margin-left: 10px;
  padding: 10px;
  flex-wrap: wrap;
  background-color: white;
  border: 1px solid rgba(100, 76, 132, 0.6);
}

.sidenav-interests-item {
  margin-right: 5px;
  font-size: 12px;
  color:#64b484;
  border: 1px solid rgba(100, 180, 132, 0.623);
  height: 25px;
  line-height: 25px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 5px;
}

.sidenav-interests-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  font-size: 18px;
  color:#644C84;
  height: 25px;
  line-height: 25px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 5px;
  padding-bottom: 2px;
}

.dashboard-body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100%;
}

.tutors-container {
  width: 100VW;
  height: 100VH;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.results-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 30px;
  background-color: white;
  border-right: 1px solid rgba(82, 82, 82, 0.1);
}

.tutor-results-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
}

.tutor-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid rgba(82, 82, 82, 0.1);
  border-radius: 4px;
}

.tutor-container:hover {
  background-color:rgb(247, 247, 247);
  cursor: pointer;
  
}

.tutor-name-picture {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.tutor-picture1 {
  background-image: url(/assets/tutor1.jpg);
  height: 75px;
  width: 75px;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 38px;
}

.tutor-picture2 {
  background-image: url(/assets/tutor2.jpg);
  height: 75px;
  width: 75px;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 38px;
}

.tutor-picture3 {
  background-image: url(/assets/tutor3.jpg);
  height: 75px;
  width: 75px;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 38px;
}


.tutor-subjects-name {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 75px;
}

.tutor-subjects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 300px;
  font-size: 14px;
  color: #64b484;
  margin-left: 30px;
  margin-top: 5px;
  
}

.tutor-subject {
  padding: 5px;
  text-align: center;
  background-color: white;
  border: 1px solid #64b484;
  margin-right: 10px;
  border-radius: 2px;
}

.tutor-name {
  font-size: 24px;
  font-family: "RedHatDisplay-Regular";
  font-weight: bold;
  color:#644C84;
  margin-left: 30px;
}

.tutor-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 30px;
  padding-right: 30px;
}



.tutor-age-actual {
  margin-bottom: 10px;
}

.tutor-age-indic {
  margin-bottom: 10px;
}


.tutor-education-actual {
  margin-bottom: 10px;
}


.tutor-details-actual{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 16px;
  color: rgb(44, 44, 44);
}

.tutor-age-actual {
  margin-bottom: 10px;
}

.tutor-work-history {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}

.tutor-work-history-indic {
  margin-bottom: 10px;
  font-size: 16px;
  color: rgba(100, 76, 132, 0.8);
  margin-right: 30px;
  width: 100px;
}


.tutor-work-history-actual{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 16px;
  color: rgb(44, 44, 44);
}

.tutors-details-container-main {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.click-on-tutor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:rgb(209, 209, 209);
  font-size: 24px;
}

.click-tutor-image {
  background-image: url(/assets/tutor-click.png);
  background-size: contain;
  height: 150px;
  width: 150px;
  background-repeat: no-repeat;
  border-radius: 75px;
  margin-bottom: 60px;
}

.tutors-search-container {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 80px;
}


.search {
  width: 100%;
  border: 1px solid #644c843a;
  height: 40px;
  padding-left: 10px;
}

.icon-center {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-icon {
  color: #644C84;
  font-size: 24px;
  text-align: center;
  margin-left: 10px;
}

.tutor-details-container {
  display: none;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 10px;
  border-radius: 4px;
  height: 100%;
}

.tutor-details-inbox {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 10px;
  border-radius: 4px;
  height: 100%;
}

.tutor-picture {
  background-image: url(/assets/tutor1.jpg);
  height: 150px;
  width: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 75px;
  border: 1px solid #644C84;
}

.tutor-details-name-picture {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding-top: 70px;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(82, 82, 82, 0.1);
}

.tutor-details-name {
  font-size: 24px;
  font-family: "RedHatDisplay-Regular";
  font-weight: bold;
  color:#644C84;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.showTutor {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.hide {
  display: none;
}

.tutor-outline {
  border: 1px solid #644C84;
}

.tabs-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(82, 82, 82, 0.1);
  width: 25%;
  height: 50px;
}

.tab:hover{
  color: rgba(59, 59, 59, 0.836);
  border-bottom: 1px solid rgba(59, 59, 59, 0.836);
  cursor: pointer;
}

.tab-active {
  color: #644C84;
  border-bottom: 1px solid #644C84;
}

.tab-text {
  text-align: center;
  font-size: 14px;
  color: rgba(104, 103, 103, 0.836);
}

.tab-text-active {
  color: #644C84;
  font-size: 14px;
  font-weight: bold;
}

.tutor-age-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 20px;
}

.tutor-detail {
  border-right: 1px solid rgba(82, 82, 82, 0.1);
  font-size: 14px;
  color: #644C84;
  width: 90px;
  margin-right: 10px;
  height: 35px;
}

.tutor-education-actual {
  display: flex;
  flex-direction: column;
}

.tutor-actual {
  width: 450px;
  font-size: 16px;
  color:rgb(51, 51, 51)
}

.tutor-contact-container {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tutor-contact-button {
  height: 40px;
  width: 120px;
  background-color: #6493ee;
  border-radius: 2px;
}

.tutor-contact-button a {
  color: white;
  display: block;
  height: 100%;
  width: 100%;
  line-height: 40px;
  text-align: center;
}

.tutor-add-button {
  background-color: #64b484;
  height: 40px;
  width: 120px;
  border-radius: 2px;
  margin-right: 40px;
}

.tutor-add-button:hover {
  background-color:#52976e;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out; /* Firefox 4 */
  -webkit-transition: all .2s ease-in-out; /* Safari and Chrome */
  -ms-transition: all .2s ease-in-out; /* IE 9 */
}

.tutor-contact-button:hover {
  background-color:#5a83d6;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out; /* Firefox 4 */
  -webkit-transition: all .2s ease-in-out; /* Safari and Chrome */
  -ms-transition: all .2s ease-in-out; /* IE 9 */
}


.tutor-add-button a {
  line-height: 40px;
  color: white;
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
  padding-right: 10px;
}

.find-tutors-title {
  font-size: 24px;
  color:#644C84;
  font-weight: bold;
  text-align: left;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 20px;
}


.tutor-results-text {
  font-size: 16px;
  color:#644C84;
  text-align: left;
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(100, 76, 132, 0.6);
}

.inbox-tutor-picture1 {
  background-image: url(/assets/tutor1.jpg);
  min-width: 25px;
  min-height: 25px;
  height: 25px;
  width: 25px;
  border: 1px transparent white;
  margin-right: 10px;
  border-radius: 9999px;
  background-repeat: no-repeat;
  background-size: contain;
}

.inbox-tutor-picture2 {
  background-image: url(/assets/tutor2.jpg);
  min-width: 25px;
  min-height: 25px;
  height: 25px;
  width: 25px;
  border: 1px transparent white;
  margin-right: 10px;
  border-radius: 9999px;
  background-repeat: no-repeat;
  background-size: contain;
}

.inbox-tutor-picture3 {
  background-image: url(/assets/tutor3.jpg);
  min-width: 25px;
  min-height: 25px;
  height: 25px;
  width: 25px;
  border: 1px transparent white;
  margin-right: 10px;
  border-radius: 9999px;
  background-repeat: no-repeat;
  background-size: contain;
}

.inbox-status-online {
  min-width: 10px;
  min-height: 10px;
  height: 10px;
  width: 10px;
  border-radius: 9999px;
  background-color:#64b484;
  margin-left: 10px;
}

.inbox-status-offline {
  min-width: 10px;
  min-height: 10px;
  height: 10px;
  width: 10px;
  border-radius: 9999px;
  background-color:gray;
  margin-left: 10px;
}

.inbox-name {
  width: 60%;
  overflow: hidden;
}

.chat-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-right: 1px solid rgba(82, 82, 82, 0.1);
}

.main-chat {
  width: 90%;
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: "Roboto";
  overflow-y: auto;

}


.message-one {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
}

.message-two {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.chat-name-picture {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  height: 35px;
}

.chat-name-picture2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  height: 35px;
}

.chat-name {
  margin-right: 10px;
  font-family:"Roboto";
  font-size: 14px;
  font-weight: bold;
}

.message-profile-picture1 {
  background-image: url(/assets/profilepicture.jpg);
  min-width: 25px;
  min-height: 25px;
  height: 25px;
  width: 25px;
  border: 1px transparent white;
  margin-right: 10px;
  border-radius: 9999px;
  background-repeat: no-repeat;
  background-size: contain;
}

.message-profile-picture2 {
  background-image: url(/assets/tutor1.jpg);
  min-width: 25px;
  min-height: 25px;
  height: 25px;
  width: 25px;
  border: 1px transparent white;
  margin-right: 10px;
  border-radius: 9999px;
  background-repeat: no-repeat;
  background-size: contain;
}

.message-text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
}

.message-text-container2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
}

.message-text {
  padding: 10px;
  margin-right: 35px;
  text-align: right;
  background-color: #644C84;
  color: white;
  font-family: "Roboto";
  font-size: 15px;
  border-radius: 15px;
}

.message-text2 {
  padding: 10px;
  margin-left: 35px;
  font-size: 15px;
  border-radius: 15px;
  text-align: left;
  font-family: "Roboto";
  background-color: rgb(245, 245, 255);
}

.chat-title {
  width: 100%;
  margin-bottom: 35px;
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid rgba(100, 76, 132, 0.6);
}

.chat-status {
  height: 15px;
  width: 15px;
  background-color: #64b484;
  border: 1px solid #64b484;
  border-radius: 9999px;
  margin-right: 10px;
}

.chat-title-name {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: bold;
  color: #644C84;
  margin-left: 10px;
}

.chat-typing {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100px;
  width: 90%;
  border: 1px solid rgba(100, 76, 132, 0.6);
  margin-bottom: 15px;
}

.chat-input {
  height: 60px;
  width: 100%;
  padding: 10px;
  border: none;
}

.chat-input::placeholder {
  color:rgb(180, 180, 180);
  font-size: 14px;
}

.chat-buttons-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.chat-buttons {
  width: 50%;
  height: 40px;
  background-color: rgb(245, 245, 255);
  border-top: 1px solid rgba(100, 76, 132, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5px;
}

.input-icon {
  min-height: 25px;
  min-width: 35px;
  color: rgb(87, 87, 87);
  font-size: 14px;
  text-align: center;
  line-height: 25px !important;
}

.input-icon:hover {
  background-color: #e2e2f0;
  cursor: pointer;
}

.input-send {
  min-height: 25px;
  min-width: 35px;
  color: white;
  background-color: #6493ee;
  font-size: 14px;
  text-align: center;
  line-height: 25px !important;
  border: 1px solid transparent;
  border-radius: 2px;
  padding-right: 2px;
  margin-left: 5px;
}

.input-send:hover {
  background-color: #547dcf;
  cursor: pointer;
}

.chat-attachments {
  width: 50%;
  height: 40px;
  background-color: rgb(245, 245, 255);
  border-top: 1px solid rgba(100, 76, 132, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5px;
}

.chat-timestamp {
  font-size: 12px;
  color:rgb(146, 146, 146);
  margin-right: 10px;
}

.settings-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding-top: 100px;
  background-color: rgb(248, 248, 248);
}

.settings-form-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.settings-title {
  width: 100%;
  padding-left: 30px;
  font-family:"Roboto";
  font-size: 28px;
  font-weight: bold;
  color: #644C84;
  height: 75px;
}

.settings-body {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid rgba(82, 82, 82, 0.1);
  background-color: white;
}

.settings-sidenav-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
  padding-top: 25px;
}

.settings-sidenav {
  width: 100%;
  margin-left: 0px;
  padding-left: 0px;
}

.settings-sidenav-item {
  width: 100%;
  height: 50px;
  border-left: 2px solid transparent;
}

.settings-current {
  border-left: 2px solid #6493ee;
}

.settings-sidenav-item:hover {
  border-left: 2px solid rgb(184, 184, 184);
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out; /* Firefox 4 */
  -webkit-transition: all .2s ease-in-out; /* Safari and Chrome */
  -ms-transition: all .2s ease-in-out; /* IE 9 */
}

.settings-sidenav-item a {
  font-size: 15px;
  display: block;
  height: 100%;
  width: 100%;
  color: #644C84;
  line-height: 50px;
  padding-left: 30px;
}

.settings-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 25px;
  width: 100%;
  border-left: 1px solid rgba(82, 82, 82, 0.1);
}

.settings-name-picture {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 150px;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid rgba(82, 82, 82, 0.1);
}

.settings-picture {
  background-image: url(assets/profilepicture.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: inline-block;
}

.settings-name {
  margin-left: 25px;
  font-size: 28px;
}

.account-security-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.settings-content-title {
  margin-top: 15px;
  width: 100%;
  height: 100px;
  font-size: 20px;
  line-height: 75px;
}

.account-security {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%
}

.account-security-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 75px;
}

.account-security-label {
  height: 100%;
  width: 20%;
  color: rgb(177, 177, 177);
  font-size: 15px;
}

.account-security-info {
  width: 60%;
  font-size: 15px;
  margin-right: 15px;
}

.account-security-link {
  height: 100%;
  width: 20%;
  font-size: 15px;
  display: block;
  color: #6493ee;
}

.settings-save-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.settings-save-button {
  height: 45px;
  width: 115px;
  background-color:#6493ee;
  border-radius: 2px;
}

.settings-save-button:hover {
  background-color: #547dcf;
}

.settings-save-button a {
  color: white;
  font-size: 16px;
  display: block;
  height: 100%;
  width: 100%;
  line-height: 45px;
  text-align: center;
}

.settings-cancel-button {
  height: 45px;
  width: 115px;
  background-color: rgb(250, 57, 57);
  margin-right: 30px;
}

.settings-cancel-button:hover {
  background-color: #e02222;
}

.settings-cancel-button a {
  color: white;
  font-size: 16px;
  display: block;
  height: 100%;
  width: 100%;
  line-height: 45px;
  text-align: center;
}

ul {
  padding-inline-start: 0px;
}

.dashboard-whole-page {

}


.chat-page {
  border-style:inset;
  border-color: black;
  border-width: 3px;
  height:100VH;
  width: 100%;
  text-align: center;
  display: flex;
}
.chat-list {
  flex: 0.2;
  border-right-style: solid;
  border-right-width: 2px;
}
.chat-contact {
  width: 100%;
  height: 50px;
  padding-left: 2px;
  border-bottom-style: solid;
  border-width: 1px;
  text-align: left;
}
.chat-contact-name {
  font-size:large;
}
.chat-contact-preview {
  padding-top: 3px;
}
.chat-display {
  flex: 0.8;
  display: flex;
  flex-direction: column;
}
.chat-messages {
  flex: 0.8;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}
.chat-send-message {
  flex: 0.2;
}
.chat-message-user {
  text-align: right;
  border-bottom: #35353a;
  border-bottom-style:groove;
}

.chat-message-other {
  text-align: left;
  border-bottom: #35353a;
  border-bottom-style:groove;
}
.FormGroup {
	margin: 0 15px 20px;
	padding: 0;
	border-style: none;
	background-color: #7795f8;
	will-change: opacity, transform;
	box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #829fff;
	border-radius: 4px;
}

.FormRow {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	margin-left: 15px;
	border-top: 1px solid #819efc;
}

.StripeElement--webkit-autofill {
	background: transparent !important;
}

.StripeElement {
	width: 100%;
	padding: 11px 15px 11px 0;
}

.button {
    background-color: #008bcc; /* Blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.MakePayment {
    position: relative;
	margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    padding: 10px;
}

#wrapper {
    display: flex;
    justify-content: center;
  }

.update-interests-container {
    margin-top: 250px;
    height: 300px;
    width: 200px;
    opacity: 0.75;
    border-style: solid;
    border-width: 2px;
    background-color: rgb(245, 245, 255);
    border-color: rgba(100, 76, 132, 0.6);
    position: absolute;
}

.chat-list-container {
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  border-right: 1px solid rgba(82, 82, 82, 0.1);
}

.chat-list-title {
  width: 100%;
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid rgba(100, 76, 132, 0.6);
}